<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom">
    <div class="container navbar-items">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
            <div class="col-md-3" style="z-index: 1;">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#act-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ '/' | relative_url }}">
                        <span style="color:#FFFFFF">ACT 2027</span>
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="act-navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% for node in site.data.navigation %}
                                {% if page.url == node.url %}{% assign active = " active" %}{% else %}{% assign active = "" %}{% endif %}
                                {% if node.children %}
                                <li class="dropdown page-scroll{{ active }}">
                                    <a href="{{ node.url | relative_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ node.title }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for child in node.children %}
                                        <li><a href="{{ child.url | relative_url }}">{{ child.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% else %}
                                <li class="page-scroll{{ active }}">
                                    <a href="{{ node.url | relative_url }}">{{ node.title }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
