<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body id="page-top" class="index">
  {% include navbar.html %}
  <header>
    <br><br><br>

    <div class="white-stripe" style="margin-bottom: 20px;">
      <div class="container">
        <div class="row" style="padding-bottom: 10.4px;">
          <div class="col-sm-12">
            <h1 class="black-text"><b>{{ page.heading | default: page.title }}</b></h1>
            <p class="page-conf-line">
              {{ site.conference.edition }} {{ site.conference.full_name }} &bull; {{ site.conference.location }} &bull; {{ site.conference.dates }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 page-content">
{{ content }}
        </div>
      </div>
    </div>
    <br><br>
  </header>
  {% include javascript.html %}
  {% include footer.html %}
</body>
</html>
